/* width */
.table-wrapper::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}
/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  @apply bg-light-primary;
  background-clip: content-box;
  border-radius: 2rem;
  border: .4rem solid transparent;
}
/* Hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: orange;
  background-clip: content-box;
  border-radius: 2rem;
  border: .4rem solid transparent;
}

.table-wrapper::-webkit-scrollbar-corner{
  background-color: transparent;
}

table {
  white-space: nowrap;
}