
/* width */
.table-wrapper::-webkit-scrollbar {
  width: 1.2rem;
  border-radius: 0px 10px 10px 0px;
  @apply bg-light-primary;
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem;
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  @apply bg-light-secondary;
  background-clip: content-box;
  border-radius: 20px;
  border: .4rem solid transparent;
}

.table-wrapper::-webkit-scrollbar-corner{
  background-color: transparent;
}

